<!-- Advanced footer -->
<section xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
  <footer class="footer bg-white">
    <div class="container-footer">
      <div class="row align-items-start">
        <div class="col-xl-3 col-sm-6 col-md-3 mb-4 mb-sm-0">
          <a href="#" target="_blank" class="footer-text">
            <img th:src="@{~/img/logo footer.png}" alt="Logo" class="img-fluid">
          </a> <br>
          <p style="line-height: 22px; font-size: 14px; padding-top: 10px; font-weight: 400;">Lorem ipsum dolor sit
            amet, consectetur
            adipiscing elit. Nullam eget mollis mi. Suspendisse ut cursus ligula, non
            aliquet magna. Etiam suscipit commodo facilisis. Nulla sit amet feugiat massa
          </p>
          <div class="social-icon my-3">
            <a href="" class="me-2">
              <img th:src="@{~/img/icon/facebook.png}" alt="facebook">
            </a>
            <a href="" class="me-2">
              <img th:src="@{~/img/icon/instagram.png}" alt="instagram">
            </a>
            <a href="" class="me-2">
              <img th:src="@{~/img/icon/youtube.png}" alt="youtube">
            </a>
          </div>
        </div>

        <div class="col-xl-1">

        </div>

        <div class="col-xl-2 col-sm-6 col-md-3 mb-4 mb-md-0">
          <a href="">
            <h5 class="pb-2">Fondasi Agama</h5>
          </a>
          <a href="">
            <h5 class="pb-2">Islam Indonesia</h5>
          </a>
          <a href="">
            <h5 class="pb-2">Muslim Lifestyle</h5>
          </a>
          <a href="">
            <h5 class="pb-2">Produk</h5>
          </a>
        </div>

        <div class="col-xl-2 col-sm-6 col-md-3 mb-4 mb-md-0">
          <a href="">
            <h5 class="pb-2">Kebijakan Privasi</h5>
          </a>
          <a href="">
            <h5 class="pb-2">Kebijakan Cookie</h5>
          </a>
          <a href="">
            <h5 class="pb-2">Redaksi</h5>
          </a>
        </div>

        <div class="col-xl-1">

        </div>

        <div class="col-xl-3 col-sm-6 col-md-2 mb-4 mb-sm-0">
          <a href="#" target="_blank" class="footer-text">
            <img th:src="@{~/img/sarung-mangga.png}" alt="Logo" width="185px" height="67px">
          </a>
          <p style="padding-top: 38px;" class="mb-0">PT Panggung Jaya Indah Textile</p>
          <p class="mb-0">(PT Pajitex) @
            <script>document.write(new Date().getFullYear()); </script> All Right Reserved
          </p>
          <p style="padding-top: 24px;">Develop And Maintained by Highfast</p>
        </div>


      </div>
    </div>
  </footer>
</section>
<!--/ Advanced footer -->