<!-- Advanced footer -->
<section xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
  <footer class="footer bg-white">
    <div class="container-footer py-5">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3 mb-4 mb-sm-0">
          <a href="#" target="_blank" class="footer-text">
            <img th:src="@{~/img/logo footer.png}" alt="Logo" th:width="200">
          </a> <br>
          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consequatur cum, eveniet facilis fugit
            harum magni maiores mollitia obcaecati optio perspiciatis repellendus sit suscipit voluptatibus?</span>
          <div class="social-icon my-3">
            <!--            <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-facebook me-2"-->
            <!--              ><i class="ti ti-brand-facebook"></i-->
            <!--            ></a>-->
            <!--            <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-twitter me-2"-->
            <!--              ><i class="ti ti-brand-twitter"></i-->
            <!--            ></a>-->
            <!--            <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-youtube me-2"-->
            <!--              ><i class="ti ti-brand-youtube"></i-->
            <!--            ></a>-->
            <a href="" class="me-2">
              <img th:src="@{~/img/icon/facebook.png}" alt="facebook">
            </a>
            <a href="" class="me-2">
              <img th:src="@{~/img/icon/instagram.png}" alt="instagram">
            </a>
            <a href="" class="me-2">
              <img th:src="@{~/img/icon/youtube.png}" alt="youtube">
            </a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 mb-4 mb-md-0 ">
          <a href="">
            <h5 class="pb-2">Fondasi Agama</h5>
          </a>
          <a href="">
            <h5 class="pb-2">Islam Indonesia</h5>
          </a>
          <a href="">
            <h5 class="pb-2">Muslim Lifestyle</h5>
          </a>
          <a href="">
            <h5 class="pb-2">Produk</h5>
          </a>
        </div>

        <div class="col-12 col-sm-6 col-md-3 mb-4 mb-md-0">
          <a href="">
            <h5 class="pb-2">Kebijakan Privasi</h5>
          </a>
          <a href="">
            <h5 class="pb-2">Kebijakan Cookie</h5>
          </a>
          <a href="">
            <h5 class="pb-2">Redaksi</h5>
          </a>
        </div>

        <div class="col-12 col-sm-6 col-md-3 mb-4 mb-sm-0">
          <a href="#" target="_blank" class="footer-text">
            <img th:src="@{~/img/sarung-mangga.png}" alt="Logo">
          </a> <br> <br>
          <span>PT Panggung Jaya Indah Textile</span> <br>
          <span>(PT Pajitex) @
            <script>document.write(new Date().getFullYear()); </script> All Right Reserved
          </span> <br> <br>
          <p class="pt-3">Develop And Maintained by Highfast</p>
        </div>


      </div>
    </div>
  </footer>
</section>
<!--/ Advanced footer -->