<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main}">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beajar Islam</title>
</head>

<body>
    <!-- Main Start -->
    <div layout:fragment="content">
        <div class="container">
            <!-- Row Start -->
            <div class="row" style="padding-top: 60px">
                <!-- Carousel -->
                <div class="col-md-9">

                    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-bs-target="#carouselExample" data-bs-slide-to="0" class="active"></li>
                            <li data-bs-target="#carouselExample" data-bs-slide-to="1"></li>
                            <li data-bs-target="#carouselExample" data-bs-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" style="border-radius: 16px;">
                            <div class="carousel-item active">
                                <div style="height: 540px;" class="rounded-3">
                                    <img class="d-block w-100 h-100" src="../../img/masjid.png" alt="First slide" />
                                    <div class="carousel-caption d-none d-md-block">
                                        <h3>Gambar masjid 1</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div style="height: 540px;" class="rounded-3">
                                    <img class="d-block w-100 h-100" src="../../img/masjid2.jpg"
                                        style="background-size: cover;" alt="Second slide" />
                                    <div class="carousel-caption d-none d-md-block">
                                        <h3>Gambar masjid 2</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div style="height: 540px;" class="rounded-3">
                                    <img class="d-block w-100 h-100" src="../../img/masjid3.jpg" alt="Third slide" />
                                    <div class="carousel-caption d-none d-md-block">
                                        <h3>Gambar masjid 3</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExample" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExample" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>
                </div>
                <!-- Carousel End -->
                <!-- Artikel Start -->
                <div class="col-md-3">
                    <h3 class="mb-4">Artikel Terpopuler</h3>

                    <!-- Artikel 1 -->
                    <div class="col-md">
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-5">
                                    <img src="../../img/quran.png"
                                        class="img-fluid gambar-rounded p-2 align-items-center h-100" alt="quran">
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body py-3">
                                        <p class="card-text" style="font-size:9px;">Lorem ipsum dolor sit ametsi
                                            consectetur
                                            adipiscing
                                            elit. Praesent volutpat</p>
                                        <p class="card-text" style="font-size: 7px; font-weight: 700;">16 Mei 2023</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Artikel 2 -->
                    <div class="col-md">
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-5">
                                    <img src="../../img/jalan.png"
                                        class="img-fluid gambar-rounded p-2 align-items-center h-100" alt="walking">
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body py-3">
                                        <p class="card-text" style="font-size:9px;">Lorem ipsum dolor sit ametsi
                                            consectetur
                                            adipiscing
                                            elit. Praesent volutpat</p>
                                        <p class="card-text" style="font-size: 7px; font-weight: 700;">16 Mei 2023</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Artikel 3 -->
                    <div class="col-md">
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-5">
                                    <img src="../../img/berdoa.png"
                                        class="img-fluid gambar-rounded p-2 align-items-center h-100" alt="pray">
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body py-3">
                                        <p class="card-text" style="font-size:9px;">Lorem ipsum dolor sit ametsi
                                            consectetur
                                            adipiscing
                                            elit. Praesent volutpat</p>
                                        <p class="card-text" style="font-size: 7px; font-weight: 700;">16 Mei 2023</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Artikel 4 -->
                    <div class="col-md">
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-5">
                                    <img src="../../img/quran.png"
                                        class="img-fluid gambar-rounded p-2 align-items-center h-100" alt="quran">
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body py-3">
                                        <p class="card-text" style="font-size:9px;">Lorem ipsum dolor sit ametsi
                                            consectetur
                                            adipiscing
                                            elit. Praesent volutpat</p>
                                        <p class="card-text" style="font-size: 7px; font-weight: 700;">16 Mei 2023</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Artikel 5 -->
                    <div class="col-md">
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-5">
                                    <img src="../../img/jalan.png"
                                        class="img-fluid gambar-rounded p-2 align-items-center h-100" alt="walking">
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body py-3">
                                        <p class="card-text" style="font-size:9px;">Lorem ipsum dolor sit ametsi
                                            consectetur
                                            adipiscing
                                            elit. Praesent volutpat</p>
                                        <p class="card-text" style="font-size: 7px; font-weight: 700;">16 Mei 2023</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Tutup div sebelah kanan -->

                </div>
            </div>
            <!-- Row End -->

            <!-- Fondasi Agama Start -->
            <div>
                <h2 class="text-black-60"
                    style="padding-bottom: 64px; padding-top: 34px; font-size: 36px; font-weight: 700;">Fondasi Agama
                </h2>
                <!-- Bagian Atas Start -->

                <div class="row row-cols-1 row-cols-md-3 g-4">

                    <!-- Kiri -->
                    <div class="col">
                        <div class="card">
                            <img src="../../img/quran.png" class="img-fluid gambar-rounded p-3" alt="pray">
                            <div class="card-body">
                                <div style="padding: 4px 10px 4px 10px; background-color: #FFFBF3;">
                                    <p style="color: #F5C761; font-size: 18px;">Fondasi Agama</p>
                                </div>
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional
                                    content. This content is a little bit longer.</p>
                                <p class="card-text mt-3"><small class="text-muted">16 Mei 2023</small></p>
                            </div>
                        </div>
                    </div>

                    <!-- Tengah -->
                    <div class="col">
                        <div class="card">
                            <img src="../../img/jalan.png" class="img-fluid gambar-rounded p-3" alt="pray">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional
                                    content. This content is a little bit longer.</p>
                                <p class="card-text mt-3"><small class="text-muted">16 Mei 2023</small></p>

                            </div>
                        </div>
                    </div>

                    <!-- Kanan -->
                    <div class="col">
                        <div class="card">
                            <img src="../../img/berdoa.png" class="img-fluid gambar-rounded p-3" alt="pray">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional
                                    content. This content is a little bit longer.</p>
                                <p class="card-text mt-3"><small class="text-muted">16 Mei 2023</small></p>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- Bagian Atas End -->
                <!-- Bagian Bawah Start -->
                <div class="row row-cols-1 row-cols-md-3 g-4 mt-4 mb-5">

                    <!-- Kiri -->
                    <div class="col">
                        <div class="card border-left-custom">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional
                                    content. This content is a little bit longer.</p>
                                <p class="card-text mt-3"><small class="text-muted">16 Mei 2023</small></p>

                            </div>
                        </div>
                    </div>

                    <!-- Tengah -->
                    <div class="col">
                        <div class="card border-left-custom">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional
                                    content. This content is a little bit longer.</p>
                                <p class="card-text mt-3"><small class="text-muted">16 Mei 2023</small></p>

                            </div>
                        </div>
                    </div>

                    <!-- Kanan -->
                    <div class="col">
                        <div class="card border-left-custom">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional
                                    content. This content is a little bit longer.</p>
                                <p class="card-text mt-3"><small class="text-muted">16 Mei 2023</small></p>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- Bagian Bawah End -->
            </div>
            <!-- Fondasi Agama End -->

            <!-- Islam Indonesia Start -->
            <div>
                <h2 class="text-black-60"
                    style="padding-bottom: 64px; padding-top: 148px; font-size: 36px; font-weight: 700;">Islam Indonesia
                </h2>
                <!-- start -->
                <div class="row row-cols-1 row-cols-md-3 g-4">

                    <!-- Kiri -->
                    <div class="col">
                        <div class="card">
                            <img src="../../img/quran.png" class="img-fluid gambar-rounded p-3" alt="quran">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional
                                    content. This content is a little bit longer.</p>
                                <p class="card-text mt-3"><small class="text-muted">16 Mei 2023</small></p>

                            </div>
                        </div>
                    </div>

                    <!-- Tengah -->
                    <div class="col">

                        <div class="bg-body-tertiary">
                            <!-- 1 -->
                            <div class="card border-left-custom mb-3 rounded-3">
                                <div class="card-body">
                                    <h5 class="card-title">Special title treatment</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <p class="card-text"><small class="text-muted">16 Mei 2023</small></p>
                                </div>
                            </div>

                            <!-- 2 -->
                            <div class="card border-left-custom mb-3 rounded-3">
                                <div class="card-body">
                                    <h5 class="card-title">Special title treatment</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <p class="card-text"><small class="text-muted">16 Mei 2023</small></p>
                                </div>
                            </div>

                            <!-- 3 -->
                            <div class="card border-left-custom mb-3 rounded-3">
                                <div class="card-body">
                                    <h5 class="card-title">Special title treatment</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <p class="card-text"><small class="text-muted">16 Mei 2023</small></p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Kanan -->
                    <div class="col">
                        <div class="card">
                            <img src="../../img/berdoa.png" class="img-fluid gambar-rounded p-3" alt="pray">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional
                                    content. This content is a little bit longer.</p>
                                <p class="card-text mt-3"><small class="text-muted">16 Mei 2023</small></p>

                            </div>
                        </div>
                    </div>
                    <!-- end dflex -->
                </div>
                <!-- end row -->
            </div>
            <!-- Islam Indonesia End -->


            <!-- Muslim Life Style Start -->
            <div>
                <h2 class="text-black-60"
                    style="padding-bottom: 64px; padding-top: 66px; font-size: 36px; font-weight: 700;">Muslim
                    Lifestyle
                </h2>
                <!-- Bagian Atas Start -->

                <div class="row row-cols-1 row-cols-md-3 g-4">

                    <!-- Kiri -->
                    <div class="col">
                        <div class="card">
                            <img src="../../img/quran.png" class="img-fluid gambar-rounded p-3" alt="pray">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional
                                    content. This content is a little bit longer.</p>
                                <p class="card-text mt-3"><small class="text-muted">16 Mei 2023</small></p>

                            </div>
                        </div>
                    </div>

                    <!-- Tengah -->
                    <div class="col">
                        <div class="card">
                            <img src="../../img/jalan.png" class="img-fluid gambar-rounded p-3" alt="pray">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional
                                    content. This content is a little bit longer.</p>
                                <p class="card-text mt-3"><small class="text-muted">16 Mei 2023</small></p>

                            </div>
                        </div>
                    </div>

                    <!-- Kanan -->
                    <div class="col">
                        <div class="card">
                            <img src="../../img/berdoa.png" class="img-fluid gambar-rounded p-3" alt="pray">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional
                                    content. This content is a little bit longer.</p>
                                <p class="card-text mt-3"><small class="text-muted">16 Mei 2023</small></p>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- Bagian Atas End -->
                <!-- Bagian Bawah Start -->
                <div class="row row-cols-1 row-cols-md-3 g-4" style="padding-bottom: 153px; padding-top: 40px;">

                    <!-- Kiri -->
                    <div class="col">
                        <div class="card border-left-custom">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional
                                    content. This content is a little bit longer.</p>
                                <p class="card-text mt-3"><small class="text-muted">16 Mei 2023</small></p>

                            </div>
                        </div>
                    </div>

                    <!-- Tengah -->
                    <div class="col">
                        <div class="card border-left-custom">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional
                                    content. This content is a little bit longer.</p>
                                <p class="card-text mt-3"><small class="text-muted">16 Mei 2023</small></p>

                            </div>
                        </div>
                    </div>

                    <!-- Kanan -->
                    <div class="col">
                        <div class="card border-left-custom">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural
                                    lead-in to additional
                                    content. This content is a little bit longer.</p>
                                <p class="card-text mt-3"><small class="text-muted">16 Mei 2023</small></p>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- Bagian Bawah End -->
            </div>
            <!-- Muslim Life Style End -->

            <!-- NewsLetter Start -->
            <div class="card mt-5 mb-5">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-center rounded mt-2">
                        <form
                            class="w-px-500 rounded p-3 p-md-5 d-flex flex-column justify-content-center align-items-center">
                            <h3 class="text-center">Subscribe to our newsletter!</h3>
                            <p class="text-center mb-3 px-3">We'll send you the best of our blog just once a month, we
                                promise
                            </p>
                            <div class="row mb-3 mt-3">
                                <div class="col-md">
                                    <input type="email" class="form-control text-center"
                                        style="background-color: #F5C76133; " id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="john.doe@example.com">
                                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-warning rounded-3">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- NewsLetter End -->


            <div class="mt-5 mb-5 ">
                <h2 class="text-black-60 text-center">Produk</h2>
            </div>
            <!-- 3D coverflow effect strat-->
            <div class="col-12 mb-5">
                <div class="swiper" id="swiper-3d-coverflow-effect">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" style="background-image: url(../../img/sarung/image1.png)">
                        </div>
                        <div class="swiper-slide" style="background-image: url(../../img/sarung/image2.png)">
                        </div>
                        <div class="swiper-slide active" style="background-image: url(../../img/sarung/image3.png)">
                        </div>
                        <div class="swiper-slide" style="background-image: url(../../img/sarung/image4.png)">
                        </div>
                        <div class="swiper-slide" style="background-image: url(../../img/sarung/image5.png)">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <!-- 3D coverflow effect end -->



            <!-- container -->
        </div>
        <!-- layout  -->
    </div>

    <!-- Main End -->
</body>

</html>